@using MVCBlog.Models;
@{
    ViewBag.Title = "Home Page";
}

@model List<Post>


<aside id="sidebar" class="column-left">

    <nav id="mainnav">
        <ul>
            @{
                var sidebarPosts = ViewBag.SideBarPosts as List<Post>;
                if (sidebarPosts != null)
                {
                    foreach (var sidebarPost in sidebarPosts)
                    {
                        <li><a href="Posts/Details/@sidebarPost.ID">@sidebarPost.Title</a></li>
                    }
                }
            }
        </ul>
    </nav>


</aside>


<section class="row">

        @foreach (var post in Model)
        {
            <article class="post col-md-6 col-md-offset-3">
                <h2 class="title">@post.Title</h2>

                <div class="about">
                    <small>Posted on <i>@post.Date</i></small>
                    @if (post.Author != null)
                {
                        @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
                </div>
                <div class="body">
                    @post.Body
                </div>
            </article>
       
        }

    <!--Paging view logic-->
    <div class="col-md-4 col-md-offset-4">
        @if (ViewBag.Page > 0)
        {
            <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"
               class="btn btn-default">
                &laquo; Prev
            </a>
        }
        @if (ViewBag.Page < ViewBag.MaxPage)
        {
            <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
               class="btn btn-default">
                Next &raquo;
            </a>
        }
    </div>
    
</section>

@section scripts {
    @Scripts.Render("~/bundles/readmore");
    @*https://github.com/jedfoster/Readmore.js*@
    <script>
        $('article .body').readmore({
            collapsedHeight: 150,
            blockCSS: 'display: block; width: 100%;'
        });
    </script>
}